[submodule "/Users/kevin/dev/mddao-contracts/lib/ds-test"]
	path = /Users/kevin/dev/mddao-contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "/Users/kevin/dev/mddao-contracts/lib/openzeppelin-contracts"]
	path = /Users/kevin/dev/mddao-contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "/Users/kevin/dev/mddao-contracts/lib/platform"]
	path = /Users/kevin/dev/mddao-contracts/lib/platform
	url = https://github.com/convex-eth/platform
